.header {
  background-image: url(../images/Header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Inter", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px; /* Adjust as needed */
  z-index: 1000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Ensures space for fixed header */
body {
  padding-top: 100px;
}

.header__title {
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
