.news__section {
  background-image: url(/images/season_21_short.jpg);
  background-size: cover;
  min-height: 60vh;
  width: 100%;
  background-origin: border-box;
  background-position: center center;
  padding-top: 40px;
}
