.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333; /* Dark Gray */
  padding-top: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
/* Navigation Bar */

.navbar {
  padding: 0;
  margin-left: auto;
}

/* Main Menu */
.menu {
  color: white;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  display: flex;
  justify-content: left;
}

.menu li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

/* Dropdown Button */
.dropbtn {
  color: white !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}
.dropbtn:hover {
  color: white; /* Keep text white on hover */
}
a {
  color: white !important;
  text-decoration: none;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  min-width: 200px;
}

/* Dropdown Items */
.dropdown-content li {
  display: block;
}

.dropdown-content a {
  color: black !important;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background 0.3s;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}
