/* Navigation Bar */
.navbar {
  padding: 15px;
}

/* Main Menu */
.menu {
  color: white;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  display: flex;
  justify-content: left;
}

.menu li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  min-width: 200px;
}

/* Dropdown Items */
.dropdown-content li {
  display: block;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background 0.3s;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}
