/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-image: url("../images/main_background.png"); /* Adjust the path */
  color: white;
  text-align: center;
}

.page {
  margin: 0;

  background-size: cover; /* Makes sure the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  font-family: "Inter", Arial, sans-serif;
}

/* Dark overlay when popup is active */
.popup.active ~ .page {
  filter: blur(5px); /* Blurs the background */
}
