<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="images/39dedf330ae07d2b.gif" alt="Legion IX Logo" />
    </a>
    <nav class="header__navbar">
      <ul class="header__menu">
        <li class="dropdown__content">
          <a href="#">Новобранцам ▼</a>
          <ul class="dropdown-content">
            <li><a href="./pages/settings.html">Настройки Игры</a></li>
            <li><a href="./pages/mentors.html">Наставники</a></li>
            <li><a href="./pages/recruit-squads.html">Отряды-Новобранца</a></li>
            <li><a href="./pages/squads.html">Отряды</a></li>
            <li><a href="./pages/craft.html">Крафт</a></li>
            <li><a href="./pages/discord.html">Настройки Дискорда</a></li>
          </ul>
        </li>
        <li><a href="./pages/news.html">Новости</a></li>
        <li><a href="./pages/library.html">Библиотека</a></li>
        <li><a href="./pages/forum.html">Форум</a></li>
      </ul>
    </nav>
  </div>
</header>
