<header class="header">
  <div class="header__container">
    <h1 class="header__title">LEGION IX</h1>
    <nav class="navbar">
      <ul class="menu">
        <li class="dropdown">
          <a href="#">Новобранцам ▼</a>
          <ul class="dropdown-content">
            <li><a href="/src/pages/settings.html">Настройки Игры</a></li>
            <li><a href="./pages/mentors.html">Наставники</a></li>
            <li><a href="./pages/recruit-squads.html">Отряды-Новобранца</a></li>
            <li><a href="./pages/squads.html">Отряды</a></li>
            <li><a href="./pages/craft.html">Крафт</a></li>
            <li><a href="./pages/discord.html">Настройки Дискорда</a></li>
          </ul>
        </li>
        <li><a href="/src/pages/news.html">Новости</a></li>
        <li><a href="./pages/library.html">Библиотека</a></li>
        <li><a href="./pages/forum.html">Форум</a></li>
      </ul>
    </nav>
  </div>
</header>
